name: BBEs

on:
  workflow_run:
    workflows: [ "Validate Ballerina Version" ]
    types:
      - completed
  workflow_dispatch:
    inputs:
      deb_url:
        description: 'URL of the Ballerina DEB installer'
        required: false
      artifact_id:
        description: 'GitHub Artifact ID of the Ballerina ZIP produced during Ballerina daily build'
        required: false
      active_branch:
        description: 'The relevant branch of the ballerina-distribution repository'
        required: true
        default: 'master'
        type: choice
        options:
          - master
          - 2201.1.x
          - 2201.0.x

jobs:
  general:
    name: General
    runs-on: ubuntu-latest
    env:
      RELEASED_BALLERINA_DEB_URL: ${{ secrets.BALLERINA_DEB_URL }}
      BALLERINA_DEB_URL: ${{ github.event.inputs.deb_url }}
      BALLERINA_ARTIFACT_ID: ${{ github.event.inputs.artifact_id }}
      ACTIVE_BRANCH: ${{ github.event.inputs.active_branch }}
      GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
    strategy:
      matrix:
        module: [url, crypto, jwt]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Download & Install Ballerina
        run: ./_resources/scripts/install.sh
      - name: Test
        working-directory: bbes/general
        run: ./${{ matrix.module }}.sh
  http:
    name: HTTP
    runs-on: ubuntu-latest
    env:
      RELEASED_BALLERINA_DEB_URL: ${{ secrets.BALLERINA_DEB_URL }}
      BALLERINA_DEB_URL: ${{ github.event.inputs.deb_url }}
      BALLERINA_ARTIFACT_ID: ${{ github.event.inputs.artifact_id }}
      ACTIVE_BRANCH: ${{ github.event.inputs.active_branch }}
      GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
    strategy:
      matrix:
        bbe: [http_ssl_tls, http_mtls, http_basic_auth_file_store, http_basic_auth_ldap_store, http_jwt_auth,
              http_oauth2_bearer_token, http_oauth2_client_credentials_grant, http_oauth2_password_grant,
              http_oauth2_refresh_token_grant, http_oauth2_jwt_bearer_grant]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Download & Install Ballerina
        run: ./_resources/scripts/install.sh
      - name: Test
        working-directory: bbes/http
        run: ./${{ matrix.bbe }}.sh
  graphql:
    name: GraphQL
    runs-on: ubuntu-latest
    env:
      RELEASED_BALLERINA_DEB_URL: ${{ secrets.BALLERINA_DEB_URL }}
      BALLERINA_DEB_URL: ${{ github.event.inputs.deb_url }}
      BALLERINA_ARTIFACT_ID: ${{ github.event.inputs.artifact_id }}
      ACTIVE_BRANCH: ${{ github.event.inputs.active_branch }}
      GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
    strategy:
      matrix:
        bbe: [graphql_ssl_tls, graphql_mtls, graphql_basic_auth_file_store, graphql_basic_auth_ldap_store,
              graphql_jwt_auth, graphql_oauth2_bearer_token]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Download & Install Ballerina
        run: ./_resources/scripts/install.sh
      - name: Test
        working-directory: bbes/graphql
        run: ./${{ matrix.bbe }}.sh
  websocket:
    name: WebSocket
    runs-on: ubuntu-latest
    env:
      RELEASED_BALLERINA_DEB_URL: ${{ secrets.BALLERINA_DEB_URL }}
      BALLERINA_DEB_URL: ${{ github.event.inputs.deb_url }}
      BALLERINA_ARTIFACT_ID: ${{ github.event.inputs.artifact_id }}
      ACTIVE_BRANCH: ${{ github.event.inputs.active_branch }}
      GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
    strategy:
      matrix:
        bbe: [websocket_ssl_tls, websocket_mtls, websocket_basic_auth_file_store, websocket_basic_auth_ldap_store,
              websocket_jwt_auth, websocket_oauth2_bearer_token, websocket_oauth2_client_credentials_grant,
              websocket_oauth2_password_grant, websocket_oauth2_refresh_token_grant, websocket_oauth2_jwt_bearer_grant]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Download & Install Ballerina
        run: ./_resources/scripts/install.sh
      - name: Test
        working-directory: bbes/websocket
        run: ./${{ matrix.bbe }}.sh
  grpc:
    name: gRPC
    runs-on: ubuntu-latest
    env:
      RELEASED_BALLERINA_DEB_URL: ${{ secrets.BALLERINA_DEB_URL }}
      BALLERINA_DEB_URL: ${{ github.event.inputs.deb_url }}
      BALLERINA_ARTIFACT_ID: ${{ github.event.inputs.artifact_id }}
      ACTIVE_BRANCH: ${{ github.event.inputs.active_branch }}
      GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
    strategy:
      matrix:
        bbe: [grpc_ssl_tls, grpc_mtls, grpc_basic_auth_file_store, grpc_basic_auth_ldap_store, grpc_jwt_auth,
              grpc_oauth2_bearer_token, grpc_oauth2_client_credentials_grant, grpc_oauth2_password_grant,
              grpc_oauth2_refresh_token_grant, grpc_oauth2_jwt_bearer_grant]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Download & Install Ballerina
        run: ./_resources/scripts/install.sh
      - name: Test
        working-directory: bbes/grpc
        run: ./${{ matrix.bbe }}.sh
