name: Scenarios

on:
  push:
    paths:
      - 'scenarios/**'
      - '.github/workflows/scenarios.yml'
  workflow_run:
    workflows: [ "Validate Ballerina Version" ]
    types:
      - completed
  workflow_dispatch:
    inputs:
      deb_url:
        description: 'URL of the Ballerina DEB installer'
        required: false
      artifact_id:
        description: 'GitHub Artifact ID of the Ballerina ZIP produced during Ballerina daily build'
        required: false

jobs:
  scenarios:
    name: Scenarios
    runs-on: ubuntu-latest
    env:
      RELEASED_BALLERINA_DEB_URL: ${{ secrets.BALLERINA_DEB_URL }}
      BALLERINA_DEB_URL: ${{ github.event.inputs.deb_url }}
      BALLERINA_ARTIFACT_ID: ${{ github.event.inputs.artifact_id }}
      GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
    strategy:
      matrix:
        scenario: [sts, e-commerce-system, order-management-service-jwt-auth, order-management-service-oauth2]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Download & Install Ballerina
        run: ./_resources/scripts/install.sh
      - name: Test
        working-directory: scenarios/${{ matrix.scenario }}
        run: ./test.sh
